<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Idlidabba.ERP.Cooksheet"/>
      <class name="Idlidabba.ERP.Department"/>
      <class name="Idlidabba.ERP.Login"/>
      <class name="Idlidabba.ERP.MenuPlanner"/>
      <class name="Idlidabba.ERP.MenuCycle"/>
      <class name="Idlidabba.ERP.VesselPlanner"/>
      <class name="Idlidabba.ERP.Depriceation"/>
      <class name="Idlidabba.ERP.VesselDispatch"/>
      <class name="Idlidabba.ERP.AssignedMenu"/>
      <class name="Idlidabba.ERP.Assets"/>
      <class name="Idlidabba.ERP.Utensils"/>
      <class name="Idlidabba.ERP.Crm"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
